<!-- Editable table -->
<div class="container">
  <app-logo-header [isCreate]="true"></app-logo-header>
  <ng-template [ngIf]="joinService.serverData != undefined">
  <div class="card" *ngIf="!(joinService.serverData.date.length==0)">
    <div class="card-body">
      <div id="table" class="table">
        <table class="table table-bordered table-responsive-md text-center">
          <tr>
            <th class="text-center"></th>
            <th class="text-center" *ngFor="let element of joinService.serverData.date">
              <div class="d-dateGroup">
                <div class="d-month">{{element.timeFrom | month}}</div>
                <div class="d-date">{{element.timeFrom | day}}</div>
                <div class="d-day">{{element.timeFrom | timeHour}} - {{element.timeTo |timeHour}}</div>
              </div>
            </th>
          </tr>
          <tr>
            <td class="pt-3-half" contenteditable="false">
              <div class="participantCountHeader">{{joinService.serverData.participants.length + 1}} Participants</div>
            </td>
            <td class="pt-3-half" contenteditable="false" *ngFor="let count of joinService.votes">
              <div class="summary-participants"><i class="material-icons">done</i>{{count}}</div>
            </td>
          </tr>
          <!-- This is our clonable table line -->
          <tr>
            <td class="pt-3-half" contenteditable="false">
              <input type="name" class="form-control" id='name' placeholder="Your name" (input)="joinService.joiner.name = $event.target.value">
            </td>
            <ng-container *ngFor="let sel of joinService.joiner.dates; let i = index;">
              <td class="pt-3-half" contenteditable="false">
                <div class="custom-checker-green custom-click" *ngIf="sel === true"
                     (click)="joinService.joiner.dates[i] = (!joinService.joiner.dates[i]); joinService.votes[i] = joinService.votes[i] - 1 ">
                  <i class="material-icons">
                    check_box
                  </i>
                </div>
                <div class="custom-checker-red custom-click" *ngIf="sel === false"
                     (click)="joinService.joiner.dates[i] = (!joinService.joiner.dates[i]); joinService.votes[i] = joinService.votes[i] + 1 ">
                  <i class="material-icons">
                    indeterminate_check_box
                  </i>
                </div>
              </td>
            </ng-container>
          </tr>
          <tr *ngFor="let participant of joinService.serverData.participants" style="background-color: whitesmoke">
            <td class="pt-3-half" contenteditable="false">{{participant.name}}</td>
            <td class="pt-3-half" contenteditable="false" *ngFor="let selection of participant.dates; let i = index;">
              <div class="custom-checker-green" *ngIf="selection === true">
                <i class="material-icons">
                  check_box
                </i>
              </div>
              <div class="custom-checker-red" *ngIf="selection === false">
                <i class="material-icons">
                  indeterminate_check_box
                </i>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</ng-template>
  <button class="button" type="submit" class="btn btn-primary" (click)="navigateToViewSummary()" [disabled]="(joinService.joiner.name === 'Your Name')">Data</button>

</div>

