.pt-3-half {
  padding-top: 1.4rem;
}
.d-dateGroup{
  margin:0;
  padding:0;
  border:0;
  vertical-align: baseline;
}

.d-date{
  color: darkgreen;
  font-size: 26px;
  font-weight: 500;
  font-family: "Fira Sans","Trebuchet MS","Helvetica Neue","Arial",sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 4px 0;
}
.d-day{
  color: #5d6e79;
  text-transform: uppercase;
  font-weight: 200;
  font-style: normal;
  font-family: "Fira Sans","Trebuchet MS","Helvetica Neue","Arial",sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px;
}
.d-month{
  display: block;
  font-size: 16px;
  line-height: inherit;
}
.participantCountHeader{
  height: 45px;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  min-height: 45px;
}
.summary-participants{
  position: relative;
  color: darkgreen;
  /* Adjust these values accordingly */
  top: 5px;
  left: 5px;
}
.custom-checker-red{
 color:darkred;
}


.custom-checker-green{
  color:darkgreen;
}
.custom-click:hover{
  cursor: pointer;
}

.event-info-box{
  border: 1px solid #e1e1e1;
  padding: 1rem;
  text-align: center;
  align-items: center;
  font-family: Calibri;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: large;

}

.title{
  padding: 1rem;
  font-weight: bold;

}
.inner-event-info{
  text-align: left;
  display:flex;
  padding-top: 0;
  flex-direction: row;

}

.info{
  rows: 4;
  cols: 100;
  border: none;
  resize: none;
  padding-right: 10px;
  min-height: 10rem;

}

.rest{
  padding-left: 10px;
  align-items: left;
  min-width: 5rem;

}
