.pt-3-half {
  padding-top: 1.4rem;
}
.d-dateGroup{
  margin:0;
  padding:0;
  border:0;
  vertical-align: baseline;
}

.d-date{
  color: #16a085;
  font-size: 26px;
  font-weight: 500;
  font-family: "Fira Sans","Trebuchet MS","Helvetica Neue","Arial",sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 4px 0;
}
.d-day{
  color: #5d6e79;
  text-transform: uppercase;
  font-weight: 200;
  font-style: normal;
  font-family: "Fira Sans","Trebuchet MS","Helvetica Neue","Arial",sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px;
}
.d-month{
  display: block;
  font-size: 16px;
  line-height: inherit;
}
.participantCountHeader{
  height: 45px;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  min-height: 45px;
}
.summary-participants{
  position: relative;
  color: #16a085;
  /* Adjust these values accordingly */
  top: 5px;
  left: 5px;
}
.custom-checker-red{
 color:#c0392b;
}


.custom-checker-green{
  color:#16a085;
}
.custom-click:hover{
  cursor: pointer;
}


.title{
  padding: 1rem;
  font-weight: bold;

}

.event-info-box{
  padding: 1rem;
  text-align: left;
  align-items: left;
  font-size: large;

}
.inner-event-info{
  padding: 1rem;
}
.user-style{
  font-size: 100%;
}
.location-style{
  font-size: 100%;
}
.description-style{
  margin-bottom: 1rem;
  font-size: 150%;
}
.event-title{
  color: #16a085;
  font-size: 200%;
}


.setColor{
  color: white;
  background-color: #16a085;

}
