<div class="background" *ngIf="!(viewService.serverData)">
  <div class="outerdiv">
      <app-logo-header [isLanding]="true"></app-logo-header>
    <h2 class="header">Event ID</h2>
    <div class="input-group mb-3">
      <input type="text" class="form-control" aria-label="Please enter your ID." placeholder="Please enter your ID." [value]="viewService.UUID" (input)="viewService.UUID = $event.target.value">
      <div class="input-group-append">
        <button (click)="switchError()" class="btn btn-primary" type="button" (click)="viewService.getData()" [routerLink]="viewService.UUID">Send</button>
      </div>
    </div>
    <p class="errorText" *ngIf="wrongID && !viewService.dataLoaded"> Invalid ID Entered!</p>
  </div>

</div>
<router-outlet></router-outlet>

