<div class="background">
    <div class ="outerdiv">
  <div class="container">
      <app-logo-header [isCreate]="true"></app-logo-header>
      <app-stepper-nav></app-stepper-nav>
      <router-outlet></router-outlet>
      <button class="button" type="submit" class="btn btn-primary"
    [disabled]="chooseDatesButtonIsDisabled()"
            (click)="adminService.updateMainEventValues()"
            routerLink="calendar"
            *ngIf="!adminService.detailsBool && !adminService.calendarBool">Update values</button>
    <button class="button" type="submit" class="btn btn-primary"
          [disabled]="false"
          (click)="updateDatesClick()"
          routerLink="summary"
          *ngIf="adminService.detailsBool && !adminService.calendarBool">Update dates</button>
  </div>
  </div>
  </div>
  