<div class="container">
    <div class="existing-dates" *ngIf="!stepperService.isCreate">
        <h2>Remove existing dates: </h2>
      <div class="row">
          <div class="col-6" *ngFor="let date of adminService.stateTracker.getEventData().date; let i = index" style="position: relative">
            <div [style.opacity]="dateToBeRemoved(i)? '0.5':'1'">
                <i *ngIf="!dateToBeRemoved(i)" class="material-icons" (click)="removeExistingDate(i)" title="Remove date" style="cursor: pointer; position: absolute; left: -1rem; top: 4px;">
                    remove_circle
                    </i>
                    <i *ngIf="dateToBeRemoved(i)" class="material-icons" (click)="revertSelection(i)" title="Keep date" style="cursor: pointer; position: absolute; left: -1rem; top: 4px;">
                        check_circle_outline
                        </i>
                        <div class="row">
                          <div class="col-12">
                              <h4>{{date.timeFrom | month}} {{date.timeFrom | day}}</h4>
                          </div>
                          <div class="col-12">
                              <h4>{{date.timeFrom | timeHour}} - {{date.timeTo | timeHour}}</h4>
                          </div>
                        </div>
            </div>
          </div>
      </div>
    </div>
  <div class="row">
    <div class="col-12">
        <h2 *ngIf="!stepperService.isCreate">Add new dates: </h2>
    </div>
      
    <div class="col-6">
      <dl-date-time-picker startView="day" minView="day" maxView="day" (change)="handleEvent($event)">
      </dl-date-time-picker>
      <br>
      <br>
      <hr>
    </div>
    <div class="col-6 myTableMax">
      <div id="table" class="table">
        <table class="table table-responsive-md text-center">
          <tr *ngFor="let timeslot of relevantService.timeSelection; let i = index">
              <i class="material-icons" (click)="removeDate(i)" title="Remove date" style="cursor: pointer">
                  remove_circle
                  </i>
            <td class="pt-3-half" contenteditable="false">
              <div class="d-dateGroup">
                <div class="d-day">{{timeslot.weekDay}}</div>
                <div class="d-date">{{timeslot.day}}</div>
                <div class="d-month">{{timeslot.month}}</div>
              </div>
            </td>
            <td class="pt-3-half" contenteditable="false">
              <div class="row">
                <div class="col-4 time-selection-hour">
                  <div class="row">
                    <div class="col-12 time-selection-add">
                      <i class="material-icons" (click)="timeslot.addStartHour()">
                        keyboard_arrow_up
                      </i>
                    </div>
                    <div class="col-12 time-selection-value">
                      {{timeslot.startHour}}
                    </div>
                    <div class="col-12 time-selection-substract">
                      <i class="material-icons" (click)="timeslot.substractStartHour()">
                        keyboard_arrow_down
                      </i>
                    </div>
                  </div>
                </div>
                <div class="col-4 time-selection-minute">
                  <div class="row">
                    <div class="col-12 time-selection-add">
                      <i class="material-icons" (click)="timeslot.addStartMinute()">
                        keyboard_arrow_up
                      </i>
                    </div>
                    <div class="col-12 time-selection-value">
                      {{timeslot.getStartMinute()}}
                    </div>
                    <div class="col-12 time-selection-substract">
                      <i class="material-icons" (click)="timeslot.substractStartMinute()">
                        keyboard_arrow_down
                      </i>
                    </div>
                  </div>
                </div>
                <div class="col-4 time-selection-am-pm">
                  <div class="row">
                    <div class="col-12 time-selection-add">
                      <i class="material-icons" (click)="timeslot.changeStartAM()">
                        keyboard_arrow_up
                      </i>
                    </div>
                    <div class="col-12 time-selection-value">
                      {{timeslot.startAMPM}}
                    </div>
                    <div class="col-12 time-selection-substract">
                      <i class="material-icons" (click)="timeslot.changeStartAM()">
                        keyboard_arrow_down
                      </i>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="pt-3-half" contenteditable="false">
              <div class="trenner">
                <i class="material-icons">
                  remove
                </i>
              </div>
            </td>
            <td class="pt-3-half" contenteditable="false">
              <div class="row">
                <div class="col-4 time-selection-hour">
                  <div class="row">
                    <div class="col-12 time-selection-add">
                      <i class="material-icons" (click)="timeslot.addStopHour()">
                        keyboard_arrow_up
                      </i>
                    </div>
                    <div class="col-12 time-selection-value">
                      {{timeslot.stopHour}}
                    </div>
                    <div class="col-12 time-selection-substract">
                      <i class="material-icons" (click)="timeslot.substractStopHour()">
                        keyboard_arrow_down
                      </i>
                    </div>
                  </div>
                </div>
                <div class="col-4 time-selection-minute">
                  <div class="row">
                    <div class="col-12 time-selection-add">
                      <i class="material-icons" (click)="timeslot.addStopMinute()">
                        keyboard_arrow_up
                      </i>
                    </div>
                    <div class="col-12 time-selection-value">
                      {{timeslot.getStopMinute()}}
                    </div>
                    <div class="col-12 time-selection-substract">
                      <i class="material-icons" (click)="timeslot.substractStopMinute()">
                        keyboard_arrow_down
                      </i>
                    </div>
                  </div>
                </div>
                <div class="col-4 time-selection-am-pm">
                  <div class="row">
                    <div class="col-12 time-selection-add">
                      <i class="material-icons" (click)="timeslot.changeStopAM()">
                        keyboard_arrow_up
                      </i>
                    </div>
                    <div class="col-12 time-selection-value">
                      {{timeslot.stopAMPM}}
                    </div>
                    <div class="col-12 time-selection-substract">
                      <i class="material-icons" (click)="timeslot.changeStopAM()">
                        keyboard_arrow_down
                      </i>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>



</div>



