
<header class="landing-header">

  <div class="container-fluid">
    <div class="row-fluid text-center">
      <h1 style="font-family: Streetbrush; color: cadetblue; font-size: 200%">LOODLE</h1>
      <div class="centering">
        <div class="col-4 centering">

          <button mat-raised-button style="background-color: cadetblue; color: white">
            <mat-icon aria-label="Example icon-button with a heart icon">create</mat-icon>
            create event
          </button>
        </div>

      </div>
    </div>
  </div>
</header>
