
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-gap: 15px
}

.grid-item {

}


.outer-div{
  height: 100vh;
  width: 100vw;
  float: none;
  padding:20%
}

.title{
  text-align: center;
  padding-bottom: 30px;
  color: white;
  font-size: 150px;
  padding-left: 16.5%;
  font-family: 'Lobster', cursive;

}
.module:hover{
  background-color: whitesmoke;

}
.module{
  text-align: center;
  color: #515151;
  padding: 10%;
  width:90%;
  min-width: 250px;
  height: 90%;
  min-height: 150px;
  background-color: white;
  border-radius: 25px;
}


.background{
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./../../assets/images/background.jpg");
}
.material-icons.md-36 { font-size: 36px; }
