
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item {
  text-align: center;
}


.outer-div{
  height: 100vh;
  width: 100vw;
  background-color: darkred;
  float: none;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 8%;
  padding-top: 8%;
}
.title{
  text-align: center;
  padding-bottom: 10px;
  color: white;
  font-size: x-large;

}
.module:hover{
  background-color: whitesmoke;
}
.module{
  color: #515151;
  padding: 10%;
  width: 100%;
  height: 100%;
  background-color: white;
}
