<div class="outer-div">
  <div class="title">
    LOODLE
  </div>
  <div class="grid-container">
    <div class="grid-item" [routerLink]="['create']">
      <div class="module">
        <h1>Create</h1>
        <i class="material-icons">
          fiber_new
        </i>
      </div>
    </div>
    <div class="grid-item"[routerLink]="['join']">
      <div class="module">
        <h1>Join</h1>
        <i class="material-icons">
          fiber_new
        </i>
      </div>
    </div>
    <div class="grid-item" [routerLink]="['admin']">
      <div class="module">
        <h1>Edit</h1>
        <i class="material-icons">
          fiber_new
        </i>
      </div>
    </div>
    <div class="grid-item" [routerLink]="['view']">
      <div class="module">
        <h1>View</h1>
        <i class="material-icons">
          fiber_new
        </i>
      </div>
    </div>
  </div>
</div>
