<div class="outer-div">
  <div class="title">
    LOODLE
  </div>
  <div class="grid-container">
    <div class="grid-item">
      <div class="module" (click)="routerLink=['/new']">
        <h1>New</h1>
        <i class="material-icons">
          fiber_new
        </i>
      </div>
    </div>
    <div class="grid-item">
      <div class="module">
        <h1>Create</h1>
        <i class="material-icons">
          fiber_new
        </i>
      </div>
    </div>
    <div class="grid-item">
      <div class="module">
        <h1>Edit</h1>
        <i class="material-icons">
          fiber_new
        </i>
      </div>
    </div>
    <div class="grid-item">
      <div class="module">
        <h1>View</h1>
        <i class="material-icons">
          fiber_new
        </i>
      </div>
    </div>
  </div>
</div>
