
  <div class="card-viewer">
    <div class="card-viewer-header">
      <mat-progress-bar mode="determinate" [value]="createService.progress"></mat-progress-bar>
    </div>
    <div class="card-viewer-body">
      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step>
          <ng-template matStepLabel>Persöhnliche Informationen</ng-template>
          <app-personal-information></app-personal-information>
          <div>
            <button mat-button matStepperNext style="background-color: darkorange ; color: white" (click)="createService.informationEnter()">Next</button>
          </div>
      </mat-step>

        <mat-step *ngIf="createService.informationBool==true">
            <ng-template matStepLabel>Datum und Uhrzeit</ng-template>
              <app-calendar></app-calendar>
            <div>
              <button mat-button matStepperNext style="background-color: darkorange ; color: white" (click)="createService.dataEnter()">Next</button>
            </div>
        </mat-step>
        <mat-step *ngIf="createService.dataBool==true">
          <ng-template matStepLabel>Deine Auswahl</ng-template>
          <app-result></app-result>
          <div>
            <button mat-button matStepperNext style="background-color: darkgreen ; color: white" (click)="createService.summary()">Absenden</button>
          </div>
        </mat-step>
        <mat-step *ngIf="createService.selectionBool==true">
          <ng-template matStepLabel>Summary</ng-template>
          <app-finish-page></app-finish-page>

        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>

