.event-info-box{
  padding: 1rem;
  text-align: center;
  align-items: center;
  font-family: Calibri;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: large;

}

.title{
  padding: 1rem;
  font-weight: bold;

}
.inner-event-info{
  text-align: left;
  display:flex;
  padding-top: 0;
  flex-direction: row;

}

.info{
  rows: 4;
  cols: 100;
  border: none;
  resize: none;
  padding-right: 10px;
  min-height: 10rem;

}

.rest{
  padding-left: 10px;
  align-items: left;
  min-width: 5rem;

}
.setColor{
  color: white;
  background-color: #16a085;

}
