<div class="container">
  <div class="row navigation-container">
    <div class="col-2">
      <div class="navigation-item" [routerLink]="['details']">
        <h4>1. Details</h4>

      </div>
    </div>
    <div class="col-3">
      <hr>
    </div>
    <div class="col-2" *ngIf="createService.detailsBool">
      <div class="navigation-item" [routerLink]="['calendar']">
        <h4>2. Calendar</h4>
      </div>
    </div>
    <div class="col-2" *ngIf="!createService.detailsBool">
      <div class="navigation-item-disabled">
        <h4>2. Calendar</h4>
      </div>
    </div>
    <div class="col-3">
      <hr>
    </div>
    <div class="col-2" *ngIf="createService.calendarBool">
      <div class="navigation-item" [routerLink]="['summary']">
        <h4>3. Summary</h4>
      </div>
    </div>
    <div class="col-2" *ngIf="!createService.calendarBool">
      <div class="navigation-item-disabled">
        <h4>3. Summary</h4>
      </div>
    </div>
  </div>
    <router-outlet></router-outlet>
</div>
