.navigation-container{
  padding: 30px;
  float: none;
}
.navigation-item{
  text-align: center;
  cursor: pointer;

}
.nextBtn{
  background-color: #16a085;
  color: white;
}
*:focus{
  outline: none;
}
.navigation-item-disabled{
 text-align: center;
  color: #888888;
}
.next-step {
  border: none;
  height: 3px;
  /* Set the hr color */
  color:#16a085; /* old IE */
  background-color: #16a085 ; /* Modern Browsers */
}


.container{
  float: none;
  border-bottom: 20px solid white;
  border-top: 50px solid transparent;
  border-top-style: hidden;
  background-color:white;
}

