.navigation-container{
  padding: 10px;
}
.navigation-item{
  text-align: center;

}
.navigation-item-disabled{
 text-align: center;
  color: #888888;
}
.next-step {
  border: none;
  height: 3px;
  /* Set the hr color */
  color:darkgreen; /* old IE */
  background-color: darkgreen ; /* Modern Browsers */
}
