<div class="background">
  <div class ="outerdiv">
<div class="container">
    <app-logo-header [isCreate]="true"></app-logo-header>
    <div class="row navigation-container">
        <div class="col-2" *ngIf="!createService.detailsBool">
          <div [ngClass]="navigation-item" class="navigation-item" [routerLink]="['details']">
            <h4>1. Details</h4>
          </div>
        </div>
        <div class="col-2" *ngIf="createService.detailsBool">
          <div class="navigation-item-disabled">
            <h4>1. Details</h4>
          </div>
        </div>
        <div class="col-3">
          <hr class="next-step" *ngIf="createService.detailsBool">
          <hr *ngIf="!createService.detailsBool">
        </div>
        <div class="col-2" *ngIf="!createService.detailsBool">
          <div class="navigation-item" [routerLink]="['calendar']">
            <h4>2. Calendar</h4>
          </div>
        </div>
        <div class="col-2" *ngIf="createService.detailsBool">
          <div class="navigation-item-disabled">
            <h4>2. Calendar</h4>
          </div>
        </div>
        <div class="col-3">
          <hr class="next-step" *ngIf="createService.calendarBool">
          <hr *ngIf="!createService.calendarBool">
        </div>
        <div class="col-2" *ngIf="createService.calendarBool">
          <div class="navigation-item" [routerLink]="['summary']">
            <h4>3. Summary</h4>
          </div>
        </div>
        <div class="col-2" *ngIf="!createService.calendarBool">
          <div class="navigation-item-disabled">
            <h4>3. Summary</h4>
          </div>
        </div>
    </div>
    <div class="row" *ngIf="createService.isLoading">
        <div class="col-12 d-flex justify-content-center">
            <h5>Generating the IDs ...</h5>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <img src="./../../../assets/images/loading.gif" alt="loadin please wait a moment" style="height: 6rem">
        </div>
      </div>
    <router-outlet></router-outlet>
    <button class="button" type="submit" class="btn btn-primary"
    [disabled]="chooseDatesButtonIsDisabled()"
            (click)="createService.setDetails()"
            routerLink="calendar"
            *ngIf="!createService.detailsBool && !createService.calendarBool">Choose your dates</button>
    <button class="button" type="submit" class="btn btn-primary"
          [disabled]="(createService.timeSelection.length === 0)"
          (click)="submitDates()"
          routerLink="summary"
          *ngIf="createService.detailsBool && !createService.calendarBool">Submit</button>
</div>
</div>
</div>
