
<div class="row">
  <div class="col-12">
    <h4>Update your date selection</h4>
    <app-date-selector (boxClick)="dateSelectionChanged($event)" [participants]="adminService.stateTracker.getCreatorForDateEdit()" [dates]="adminService.stateTracker.getEventData().date"></app-date-selector>
  </div>
  <div class="col-12 mt-3">
      <button class="button" (click)="updateCreatorDates()" type="submit" class="btn btn-primary">Update values</button>
  </div>
  <div class="col-12 mt-3">
      <button class="button" type="submit" class="btn btn-danger" (click)="modalOpen = true">Delete this event</button>
  </div>
</div>

    <app-delete-warning *ngIf="modalOpen" (close)="modalOpen = false" (delete)="adminService.deleteEvent()"></app-delete-warning>


