
<div class="row">
  <div class="col-12">
    <h4>Update your date selection</h4>
    <app-date-selector *ngIf="adminService != undefined" (boxClick)="dateSelectionChanged($event)" [participants]="adminService.getCreatorForDateEdit()" [dates]="adminService.getEventData().date"></app-date-selector>
  </div>

  <div class="col-4 ">
    <button
      mat-flat-button
      color="primary"
      (click)="updateCreatorDates()">Update Values</button>
  </div>
  <div class="col-4">
    <button
      (click)="modalOpen = true"
      mat-flat-button
      color="warn">Delete Event</button>
  </div>
  <div class="col-4 align-content-lg-end">
    <button
      [routerLink]="''"
      mat-flat-button
      class= "warning-color">Abort</button>
  </div>

</div>

    <app-delete-warning *ngIf="modalOpen" (close)="modalOpen = false" (delete)="adminService.deleteEvent()"></app-delete-warning>


