<div class="background" *ngIf="!joinService.dataLoaded">
  <div class="outerdiv">
      <app-logo-header [isLanding]="true"></app-logo-header>
    <h2 class="header">Event ID</h2>
    <div class="input-group mb-3">
      <input type="text" class="form-control" aria-label="Please enter your ID." placeholder="Please enter your ID." (input)="joinService.UUID = $event.target.value">
      <div class="input-group-append">
        <button (click)="switchError()" class="btn btn-primary" type="button" [routerLink]="joinService.UUID">Send</button>
      </div>
    </div>
    <p class="errorText" *ngIf="!joinService.dataLoaded && joinService.wrongID"> Invalid ID Entered!</p>
  </div>
</div>
<router-outlet></router-outlet>
