<div class="background" *ngIf="!joinService.dataLoaded">
  <button type="button" class="close" aria-label="Close">
  </button>
  <div class="outerdiv">
      <app-logo-header [isLanding]="true"></app-logo-header>
    <h2 class="header">Event ID</h2>
    <div class="input-group mb-3">
      <input type="text" class="form-control" aria-label="Please enter your ID." [value]="joinService.UUID == undefined? '' : joinService.UUID" (input)="joinService.UUID = $event.target.value">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" [routerLink]="joinService.UUID">Send</button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
