<div class="background">
  <button type="button" class="close" aria-label="Close">
   <span [routerLink]="['']" aria-hidden="true">&times;</span>
  </button>
  <div class="outerdiv">
    <h2 class="header">Event ID</h2>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Please enter your ID." aria-label="Please enter your ID." aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" (click)="sendToServer()">Send</button>
      </div>
    </div>
  </div>
  <div class="outerdiv" *ngIf="joinService.dataLoaded">
    <app-join-calendar></app-join-calendar>
  </div>

</div>
