<div class="container">
  <p>Form Group and create a concept.</p>
  <p><ngb-progressbar value="1000" type="success"></ngb-progressbar></p>

  <p>Setting up Server with port</p>
  <p><ngb-progressbar value="900" type="info"></ngb-progressbar></p>


  <p>Create Express Server with REST</p>
  <p><ngb-progressbar value="250" type="warning"></ngb-progressbar></p>

  <p>Create Database connection on which port?</p>
  <p><ngb-progressbar value="100" type="danger"></ngb-progressbar></p>


  <p>Create JSON Models</p>
  <p><ngb-progressbar value="10" type="danger"></ngb-progressbar></p>


  <p>Create MicroServices</p>
  <p><ngb-progressbar value="0" type="danger"></ngb-progressbar></p>

</div>

