<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="name" class="form-control" id='name' [value]="createService.userInformation.name" (input)="createService.userInformation.name = $event.target.value">
  </div>
  <div class="form-group">
    <label for="email">E-Mail</label>
    <input type="email" class="form-control" id="email" [value]="createService.userInformation.email" (input)="createService.userInformation.email = $event.target.value">
    <small id="emailHelp" class="form-text text-muted">Wir garantieren deine Daten nur so lange zu behalten wie notwendig.</small>
  </div>

</form>
