<div class="background">
<div class="outerdiv">
  <form>
    <div class="form-group">
      <label class="header" for="title">Title</label>
      <input type="email" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Enter the title of your Loodle.">
      <small id="titleHelp" class="form-text text-muted">Visible to other participants of your event.</small>
    </div>
    <div class="form-group">
      <label class="header" for="name">Name</label>
      <input type="email" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter your name.">
      <small id="namehelp" class="form-text text-muted">Visible to other participants of your event.</small>
    </div>
    <div class="form-group">
      <label class="header" for="description">Description</label>
      <textarea class="form-control" id="description" rows="4"></textarea>
      <small id="texthelp" class="form-text text-muted">Visible to other participants of your event.</small>

    </div>
    <button class="button" type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
</div>
