<div class="background">
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="outerdiv">
    <div class="input-group mb-3">
      <h4 class="header"> Admin ID </h4>
      <input id="admin" type="text" class="form-control" [value]='createService.adminID'>
      <button (click)="copyMessage(createService.adminID)" >Copy</button>
    </div>

    <div class="input-group mb-3">
      <h4 class="header"> Event ID </h4>
      <input id="event" type="text" class="form-control" [value]='createService.joinID'>


      <button (click)="copyMessage(createService.joinID)" >Copy</button>
    </div>
  </div>

</div>

